<% if logged_in? %>
  <% provide(:title, 'All services') %>
  <h1>All services</h1>

  <div class="row">
    <div class='col-md-3'>
      <a href="services/1" >
        <img src="laundry.jpg" class="img-thumbnail img-fluid" >
        <p class="center">Laundry</p>
      </a>
    </div>
    <div class='col-md-3'>
      <a href="services/2" >
        <img src="car.jpg" class="img-thumbnail img-fluid" >
        <p class="center">Car Wash</p>
      </a>
    </div>
    <div class='col-md-3'>
      <a href="services/3" >
        <img src="dishes.jpg" class="img-thumbnail img-fluid" >
        <p class="center">Dish Wash</p>
      </a>
    </div>
    <div class='col-md-3'>
      <a href="services/4" >
        <img src="electric.jpg" class="img-thumbnail img-fluid" >
        <p class="center">Electric Repair</p>
      </a>
    </div>
  </div>
<% else %>
  <div class="center jumbotron">
    <h1>HIron</h1>
    <%= link_to "Create an account", signup_path, class: "btn btn-lg btn-primary" %>
  </div>
<% end %>

