
  <% if logged_in? %>
    <% provide(:title, 'All services') %>

    <h1>All services</h1>
    <div class="service-images">
        <ul>
            <li>
                <div class="zoom-card">
                    <a href="services/1" >
                        <img src="laundry.jpg" class="img-thumbnail">
                    </a>
                    <p class="center">Laundry</p>
                </div>
            </li>

            <li>
                <div class="zoom-card">
                    <a href="services/2" >
                        <img src="dishes.jpg" class="img-thumbnail">
                    </a>
                    <p class="center">Dish Wash</p>
                </div>
            </li>

            <li>
                <div class="zoom-card">
                    <a href="services/3" >
                        <img src="car.jpg" class="img-thumbnail">
                    </a>
                    <p class="center">Vehicle Wash</p>
                </div>
            </li>

            <li>
                <div class="zoom-card">
                    <a href="services/4" >
                        <img src="electric.jpg" class="img-thumbnail">
                    </a>
                    <p class="center">Electric Repair</p>
                </div>
            </li>
        </ul>
        </div>
    </div>

  <% else %>
    <body class="home-page-padding">  </body>
    <div class="home-page">
        <!-- Header Area -->
        <header id="showcase" class="grid">
            <div class="content-wrap">
                <h1>Welcome to HIron App</h1>
                <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque minima assumenda perspiciatis dolor quae consequatur optio delectus neque distinctio nulla?</p>
                <%= link_to "Sign up", signup_path, class: "btn"%>
            </div>
        </header>

        <!-- Main Area -->
        <main id="main">
            
            <!-- Section A -->
            <section id="section-a" class="grid">
                <div class="content-wrap">
                    <h2 class="content-title"> Providing best service </h2>
                    <div class="content-text">
                        <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium nihil incidunt perspiciatis, vel doloribus ut aliquam cum voluptatem placeat rerum quibusdam! Illo eaque facere repudiandae, ipsum nam sapiente excepturi, natus magnam numquam in amet eius dolores fuga iure, tempore labore!</p>
                    </div>
                </div>
            </section>

            <!-- Section B -->
            <section id="section-b">
                <ul>
                    <li>
                        <div class="card">
                            <img src="laundry.jpg" alt="">
                            <div class="card-content">
                                <h3 class="card-title"> Laundry Wash</h3>
                                <p> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Atque beatae </p>
                            </div>
                        </div>
                    </li>

                    <li>
                        <div class="card">
                            <img src="dishes.jpg" alt="">
                            <div class="card-content">
                                <h3 class="card-title"> Dish Wash </h3>
                                <p> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Atque beatae </p>
                            </div>
                        </div>
                    </li>

                    <li>
                        <div class="card">
                            <img src="car.jpg" alt="">
                            <div class="card-content">
                                <h3 class="card-title"> Car Wash </h3>
                                <p> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Atque beatae </p>
                            </div>
                        </div>
                    </li>

                    <li>
                        <div class="card">
                            <img src="electric.jpg" alt="">
                            <div class="card-content">
                                <h3 class="card-title"> Electric Repair </h3>
                                <p> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Atque beatae </p>
                            </div>
                        </div>
                    </li>
                </ul>
            </section>

            <!-- Section C -->
            <section id="section-c" class="grid">
                <div class="content-wrap">
                    <h2 class="content-title"> We have all the things you need </h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi possimus consectetur eligendi harum iusto rem ullam pariatur sed magnam necessitatibus.</p>
                </div>
            </section>

            <!-- Section D -->
            <section id="section-d" class="grid">
                <div class="box">
                    <h2 class="content-title">Contact Us</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias debitis saepe explicabo soluta eius quibusdam aperiam voluptatum quis expedita doloribus.</p>
                    <p>contact@soandso.com</p>
                </div>

                <div class="box">
                    <h2 class="content-tile">About Our App</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus maiores quos magnam non vel. Iure vitae vero ab dicta tenetur rerum ut assumenda quibusdam dolorum distinctio? Eos alias non facilis?</p>
                </div>
            </section>
        </main>

        <!-- Footer -->
        <footer id="main-footer" class="grid">
            <div>Code Astra</div>
            <div>
                An application By <a href="https://www.facebook.com/roshan.rathod.370" target="_blank">Rithik Roshan Rathod</a>
            </div>
        </footer>
    </div>
  <% end %>


