<% provide(:title, @service.serv_name) %>
  <div class="row">
    <h1><%= @service.serv_name %></h1> 
    <% if @service.partners.any? %>
      <h3>Service Partners (<%= @service.partners.count %>)</h3>
      <ol class="partners">
        <% @service.partners.each do |partner| %>
          <li>
            <span class="partner name"> <%= link_to partner.partner_name, partner %> </span>  
            <span class="avg-review-rating" data-score=<%= partner.reviews.average(:rating) %>></span>
          </li>
        <% end %>
      </ol>
    <% end %>
  </div>

<script>
  $('.avg-review-rating').raty();
  $('.avg-review-rating').raty({
    readOnly: true,
    score: function() {
      return $(this).attr('data-score');
    },
    path: '/assets/'
  });
</script>