<% provide(:title, @service.serv_name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= @service.serv_name %>
      </h1>
    </section>
  </aside>
</div>