<% provide(:title, @service.serv_name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= @service.serv_name %>
      </h1>
    </section>
  </aside>
    <div class="col-md-8">
    <% if @service.partners.any? %>
      <h3>Service Partners (<%= @service.partners.count %>)</h3>
      <ol class="partners">
        <% @service.partners.each do |partner| %>
          <li>
            <%= link_to partner.partner_name, partner %>
          </li>
        <% end %>
      </ol>
    <% end %>
  </div>
</div>