<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
    </aside>
    <aside class="col-md-12">
      <%= link_to "Book a service!", services_path, class: "btn btn-lg btn-primary" %>
    </aside>
    
  </div>
<% else %>
  <div class="center jumbotron">
    <h1>HIron</h1>
    <%= link_to "Create an account", signup_path, class: "btn btn-lg btn-primary" %>
  </div>
<% end %>