<% provide(:title, @partner.partner_name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="partner_info">
      <h1>
        <%= @partner.partner_name %>
      </h1>
    </section>
  </aside>
  <div class="col-md-8">
    <%= render 'book' if logged_in? %>
  </div>
</div>