<% provide(:title, @booking.user_id) %>
  <span class="user"><%= link_to @booking.user.name, @booking.user %></span>
  <span class="partner"><%= link_to @booking.partner.partner_name, partner_url %></span>
  <span class="timestamp">
    Booked <%= time_ago_in_words(@booking.created_at) %> ago.
  </span>
