<% provide(:title, 'Your Feedbacks') %>
<h1>Your Feedbacks</h1>

<ul class="feedbacks">
  <% @feedbacks.each do |feedback| %>
    <span class="user"><%= link_to feedback.user.name, feedback.user %></span>
    <span class="partner"><%= link_to feedback.partner.partner_name, feedback.partner %></span>
    <span class="content"><%= feedback.content %></span>
    <span class="timestamp">
      Feedback given <%= time_ago_in_words(feedback.created_at) %> ago.
    </span>
  <% end %>
</ul>