@import url(https://fonts.googleapis.com/css?family=Lato); 
@import "bootstrap-sprockets";
@import "bootstrap";

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

@mixin background-tile {
	box-sizing: border-box;
	background-color: #fff;
  border-radius: 5px;
  margin-bottom: 40px;
	box-shadow: 1px 1px 1px 1px rgb(158, 155, 155);
  padding: 0.6em 0.6em;
}

body {
  padding-top: 60px;
  padding-left: 200px;
  padding-right: 200px;
  background: lightblue;
  font-family: 'Lato', sans-serif;
  // background: url('sky.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

section {
  overflow: auto;
}

.center {
  text-align: center;
  color: #222;
  padding-top: 9px;
}


.center h1 {
  margin-bottom: 10px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  #text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* sidebar */

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  clear: both;
  float: left;
  border-radius: 5px;
  margin-bottom: 15px;
  resize: vertical;
  // @include box_sizing;
}

// input {
//   height: auto !important;
// }

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}


/* partners */

.partners {
  
  // @include background-tile;
  list-style: none;
  padding: 0;
  
  li {
    // @include background-tile;
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }

  .partner {
    margin-top: 5em;
    padding-top: 0;
    color: #000;
    text-decoration: none;
    &:hover {
      color: #fff;
    }
  }
  .description {
    display: block;
    margin-left: 60px;
    img {
      display: block;
      padding: 5px 0;
    }
  }
  .avg-rating {
		font-size: 1.5em;
		margin-top: 75px;
		margin-bottom: 5px;
		font-weight: bold;
	}
  aside {
    textarea {
      height: 100px;
      margin-bottom: 5px;
    }
  }
}

/* Bookings index */

.bookings {
  list-style: none;
  padding: 0;
  
  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
    margin-left: 60px;
  }
  .partner {
    // text-decoration: none;  
    color: rgb(241, 232, 232);
    margin-top: 5em;
    
    padding-top: 5px 0;
  }
  
  .service{
    display: block;
    
    img {
      display: block;
      padding: 5px 0;
    }
  }
  .Address {
    display: block;
    
    img {
      display: block;
      padding: 5px 0;
    }
  }
  .timestamp {
    font-size: 80%;
    color: rgb(78, 68, 68);
    display: block;
    
  }

  .Bookid {
    display: block;
    
  }

  .gravatar {
    float: left;
    margin-right: 10px;
    margin-top: 5px;
  }
}

/* Reviews styles */

.reviews {

  @include background-tile;
  // width:"90%"
  list-style: none;
  background-color: darken(#ffffff, 5%);
  li {
    margin-right: 0px;
    padding: 10px 0;
    border-top: 1px solid #d4cfcf;
  }

	.review {

    // border-bottom: 1px solid gainsboro;
		// margin-bottom: 15px;
    // padding-bottom: 10px;
    

    .user {
      color: #000000;
      margin-top: 5em;
      
      padding-top: 0;
    }
    
    .review-rating {
      color: #000000;
      display: block;
    }

		.review-comment {
			font-size: 1.05em;
			line-height: 1.5;
    }
	}

	.new-review {
		padding-top: 8px;
	}

}

.btn-custom {
	// color: darken(#bdbdbd, 5%);
	// background-color: #fff;
	border: 1px solid darken(#c0c0c0, 5%);
	padding: 3px 10px;
	border-radius: 5px;
  font-family: 'Lato', sans-serif;
  box-shadow: 0 2px 0 #929394;
	&:hover {
		text-decoration: none;
		background-color: darken(#bdbdbd, 5%);
		color: #000;
		transition: 0.5s;
	}
}

.btn-custom2 {
	color: #fff;
	background-color: #222;
	padding: 4px 20px;
	border-radius: 5px;
  font-family: 'Lato', sans-serif;
  // box-shadow: 0 2px 0 #b7b9b9;
	&:hover {
    text-decoration: none;
    // background-color: darken(#535151, 5%);
    transform: scale(0.97);
		color: #fff;
		transition: 0.5s;
	}	
}

.part_name{
  color: rgb(240, 230, 230);
}

.move-left {
  margin-left: 10px;
  &:hover {
    transform: scale(1.1);
  }
}

.btn-custom:active,
  .btn-custom2:active{
  // box-shadow: 0 0.1px 0 #7e7f80;
  transform: translateY(5px) translateX(-5px);
}

.style_img:hover {
  transform: scale(1.1);
  // transition-duration: 0.5s;
}

.pagination a{     
  // display: inline-block; 
  font-weight:bold; 
  // font-size:25px; 
  color: black; 
  // float: left; 
  padding: 2px 4px; 
  text-decoration: none; 
  border:1px solid black; 
  background-color:#c5cec5; 
} 

.home-page-padding {
  padding: 0;
}


.home-page {
    margin: 0;
    color: #000;
    padding-top: 0;
    // background: #333;
    line-height: 1.5;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1rem;
    text-align: center;

    img {
        display: block;
        width: 100%;
        height: auto;
        border-top-left-radius: 5%;
        border-top-right-radius: 5%;
    }
    
    h1, h2, h3, p {
        margin: 0;
        padding: 1rem 0;
    }
    
    .btn {
        display: inline-block;
        margin: 0.5rem 0;
        background: #333;
        color: #fff;
        text-decoration: none;
        padding: 1rem 2rem;
        border: 1px solid #666;
    }
    
    .btn:hover {
        color: #333;
        background: #eaeaea;
    }
    
    /* Showcase Styles */
    
    #showcase {
        min-height: 300px;
        /* color: #fff; */
        /* text-align: center; */
    }
    
    #showcase h1 {
        padding-top: 100px;
        padding-bottom: 0;
    }
    
    #showcase .content-wrap,
    #section-a .content-wrap {
        padding: 0 1.5rem;
    }
    
    /* Section A */
    
    #section-a {
        color: #333;
        background: #eaeaea;
        padding: 2rem;
        margin-bottom: 3rem;
    }
    
    /* Section  */
    
    #section-b {
        padding: 2rem 1rem 1rem;
    }
    
    #section-b ul {
        list-style: none;
        margin: 0;
        padding: 0;
        margin-bottom: 2rem;
        padding-left: 10rem;
        padding-right: 10rem;
    }
    
    #section-b li {
        background: #fff;
        margin-bottom: 2rem;
        color: #333;
    }

    #section-c {
      color: #fff;
      background: #333;
    }

    #section-b li {
      border-radius: 5%;
    }

    
    #section-b .card-content,
    #section-c .content-wrap {
        padding: 1.5rem;
    }
    
    #section-d .box {
        padding: 2rem;
        background: rgb(81, 77, 139);
        color: #fff;
    }
    
    #section-d .box:first-child {
        background: rgb(133, 57, 57);
    }
    
    #main-footer {
        background: #000;
        padding: 2rem;
        color: #fff;
    }
    
    #main-footer a {
        text-decoration: none;
        color: #2690d4;
    }
    
    /* Media Query */
    
    @media(min-width: 700px) {
        .grid {
            display: grid;
            grid-template-columns: 1fr repeat(2, minmax(auto, 25rem)) 1fr;
        }
    
        .content-wrap,
        #section-b ul {
            grid-column: 2/4; 
        }
    
        .box,
        #main-footer div {
            grid-column: span 2;
        }
    
        #section-a .content-text {
            columns: 2;
            column-gap: 2rem;
        }
    
        #section-a .content-wrap p {
            padding-top: 0;
        }
    
        #section-b ul {
            display: flex;
            justify-content: space-around;
        }
    
        #section-b li {
            width: 23%;
        }
    }  
}